<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="10">
            &nbsp;
        </td> <!-- Added closing tag -->
        <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <!-- Image row -->
                <tr>
                    <td>
                        <img src="{{bannerUrl}}" alt="banner"> <!-- Corrected src attribute -->
                    </td>
                </tr>
                <tr>
                    <td style="font-size:18px; color:#003399; padding-top:10px; padding-bottom:10px;">
                        {{currentDateFormatted}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{#each articles}}
                            {{#if (lt @index ../maxArticles)}}
                                <!-- Dynamic  -->
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#152E52">
                                    <tr>
                                        <!-- Left padding -->
                                        <td width="3" bgcolor="#152E52">&nbsp;</td>
                                        <!-- Main content with top and bottom padding -->
                                        <td valign="middle" bgcolor="#152E52">
                                            <table width="100%" cellspacing="0" cellpadding="5" border="0">
                                                <tr>
                                                    <td bgcolor="{{backgroundColor}}"
                                                        style="color: #FFFFFF; font-size: 22px;">
                                                        {{category}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <!-- Right padding - assuming no padding -->
                                        <td bgcolor="#152E52">&nbsp;</td>
                                    </tr>
                                </table>
                                <!-- Spacer for margin-top -->
                                <table width="{{spacerWidth}}" cellspacing="{{spacerCellSpacing}}"
                                       cellpadding="{{spacerCellPadding}}" border="{{spacerBorder}}">
                                    <tr>
                                        <td height="{{spacerHeight}}"></td>
                                    </tr>
                                </table>
                                <!-- Title Container -->
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tr>
                                        <td>
                                            <a href="{{url}}"
                                               style="font-size: {{titleFontSize}}; color: #152E52; text-decoration: none; font-family: {{titleFontFamily}};">{{title}}</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Spacer for margin-top -->
                                <table width="{{spacerWidth}}" cellspacing="{{spacerCellSpacing}}"
                                       cellpadding="{{spacerCellPadding}}" border="{{spacerBorder}}">
                                    <tr>
                                        <td height="{{spacerHeight}}"></td>
                                    </tr>
                                </table>
                                <!-- Intro Container -->
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tr>
                                        <td>
                                            {{{intro}}}
                                        </td>
                                    </tr>
                                </table>
                            {{else}}
                                <!-- Dynamic (short) -->
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tr>
                                        <td style="font-size: 27px; color: #053682;">
                                            <a href="{{url}}"
                                               style="font-size: 20px; color: #053682; text-decoration: none;">{{title}}</a>
                                        </td>
                                    </tr>
                                </table>
                            {{/if}}
                        {{/each}}
                    </td>
                </tr>
                <!-- Footer content row -->
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding:5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; border-top: 1px solid #003399;">&copy; {{currentYear}},
                                    European Maritime Safety Agency
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="10">
            &nbsp;
        </td>
    </tr>
</table>
<!-- Ending -->
<table width="{{spacerWidth}}" cellspacing="{{spacerCellSpacing}}" cellpadding="{{spacerCellPadding}}"
       border="{{spacerBorder}}">
    <tr>
        <td height="{{spacerHeight}}">&nbsp;</td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
    <tr>
        <!-- Padding cell -->
        <td bgcolor="#101B1E" width="5">&nbsp;</td>

        <td style="font-size: 25px; color: #FFFFFF" bgcolor="#101B1E">
            Other News
        </td>
    </tr>
</table>
