<%
const colorList = ['#152E52', '#AEC127', '#5CA550', '#DF5F5A', '#F9AE4F'];
const colorList1 = ['#2E5215FF'];
const bannerUrl = 'images/powered_by.png#joomlaImage://local-images/powered_by.png?width=294&height=44';
//const articles = []; // This gets populated itself
const currentYear = new Date().getFullYear();
const currentDateFormatted = `${new Date().toLocaleString('default', {month: 'long'}).toUpperCase()} ${currentYear}`;
const maxContentDisplay = 5; // Display content for the first 5 articles only
%>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="10">&nbsp;</td>
        <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <!-- Image row -->
                <tr>
                    <td>
                        <img src="<%= bannerUrl %>" alt="banner" width="100%">
                    </td>
                </tr>
                <tr>
                    <td style="font-size:18px; color:#003399; padding-top:10px; padding-bottom:10px;"><%= currentDateFormatted %></td>
                </tr>
                <% for(let i = 0; i < articles.length; i++) { %>
                    <% const article = articles[i]; %>
                    <% const backgroundColor = colorList[i % colorList.length]; %>
                    <!-- Dynamic -->
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td width="3">&nbsp;</td>
                                    <td valign="middle">
                                        <table width="100%" cellspacing="0" cellpadding="5" border="0">
                                            <tr>
                                                <td bgcolor="<%= backgroundColor %>"
                                                    style="color: #FFFFFF; font-size: 22px;">
                                                    <%= article.category %>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                            <table width="0" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td height="0"></td>
                                </tr>
                            </table>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td>
                                        <a href="<%= article.url %>"
                                           style="font-size: 12; text-decoration: none; font-family: serif;">
                                            <%= article.title %>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <table width="0" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td height="0"></td>
                                </tr>
                            </table>
                            <% if(i < maxContentDisplay) { %>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tr>
                                        <td><%- article.intro %></td>
                                    </tr>
                                </table>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
                <!-- Footer content row -->
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td style="padding:5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size: 14px; border-top: 1px solid #003399;">&copy; <%= currentYear %>,
                                    European Maritime Safety Agency
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="10">&nbsp;</td>
    </tr>
</table>
<!-- Ending -->
<table width="0" cellspacing="0" cellpadding="0"
       border="0">
    <tr>
        <td height="0">&nbsp;</td>
    </tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
    <tr>
        <td bgcolor="#101B1E" width="5">&nbsp;</td>
        <td style="font-size: 25px; color: #FFFFFF" bgcolor="#101B1E">
            Other News
        </td>
    </tr>
</table>
